<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example</title>
</head>
<body>
<header>
    <br>
    <th:block th:text="${currentUser.getEmail()}"></th:block>
    with roles
    <th:block th:each="role: ${currentUser.getRoles()}">
        <span th:text="${role.getPlaintRole()}">_</span>
    </th:block>
    <h2><a href="/logout">logout</a></h2>
    <br>
</header>
<table>
    <tr>
        <th>id</th>
        <th>userName</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    <tr>
        <td th:text="${currentUser.id}"></td>
        <td th:text="${currentUser.username}"></td>
        <td th:text="${currentUser.firstName}"></td>
        <td th:text="${currentUser.lastName}"></td>
        <td th:text="${currentUser.email}"></td>
        <td>
            <th:block th:each="role: ${currentUser.getRoles()}">
                <span th:text="${role.getPlaintRole()}">_</span>
            </th:block>
        </td>
    </tr>
</table>

</body>
</html>